button{
    position: relative;
    width: 400px;
    height:300px ;
    font-size: 60px;
    left: 540px;
    top: 200px;
    background-color: aquamarine;
    border-radius: 40px;
}
*{
    background-color: black;
}